*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


header{
    background: linear-gradient(135deg,#09f3cf 0%, #afda5a 100%);
    color: white;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1200px;
    margin: auto;
}


.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}


nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
    transition: opacity 0.3s;
}

.nav a:hover{
    opacity: 0.7;
}


.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://plus.unsplash.com/premium_photo-1721755986353-01df7ea3ece9?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")center/cover;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-container{
    max-width: 800px;
    padding: 2rem;
}

.hero h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    opacity: 0.9;
}

.cta-button{
    background-color: #19af71;
    color: rgb(27, 27, 27);
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
     background-color: rgb(10, 129, 138);
}

.deportes-section{
    padding: 4rem 1rem;
    background: #f4f4f4;
}

.section-title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.deportes-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}


.deportes-card{
    background: white;
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.deportes-card:hover{
    transform: translateY(-5px);
}


.deportes-card img{
    width: 100%;
    height: 180px;
    object-fit: cover; 
    display: block;
}


.card-content{
    padding: 1rem;
}

.card-content h3{
    margin-bottom: 0.5rem;
}

.card-content p{
    font-size: 0.9rem;
    color: #555;
}