*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f4f6fb;
    line-height: 1.6;
}

header{
    background: linear-gradient(135deg, #1ac55b 0%, #b65b5b 100%);
    color: white;
    padding: 2.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1{
    font-size: 1.8rem;
}

.logo p{
    font-size: 0.95rem;
    color: #e0e0e0;
    margin-top: 5px;
}


.nav-link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.nav-link a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link a:hover{
    color: #0a3604;
}


.cta-button{
    margin-top: 10px;
    background: #ffffff;
    color: #333;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}


.sports{
    padding: 80px 20px 60px; 
    text-align: center;
}

.subtitle{
    margin-bottom: 40px;
    color: #777;
}

.sports-grid{
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.card{
    background: white;
    padding: 0 0 25px; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
    overflow: hidden; 
}

.card:hover{
    transform: translateY(-10px);
}


.card h3{
    margin: 0;
    padding: 15px;
    color: white;
    font-weight: bold;
}


.card p{
    padding: 0 20px;
}


.football h3{
    background: linear-gradient(90deg,#1abc9c,#2ecc71);
}

.basketball h3{
    background: linear-gradient(90deg,#a05119,#ffa500);
}

.tennis h3{
    background: linear-gradient(90deg,#3498db,#1abcde);
}

.swimming h3{
    background: linear-gradient(90deg,#6a5acd,#9210ca);
}

.athletics h3{
    background: linear-gradient(90deg,#ff6ec7,#ff4e50);
}

.cycling h3{
    background: linear-gradient(90deg,#11e411,#2c3e50);
}


.stats{
    background: linear-gradient(135deg, #6a5acd, #1ab415);
    color: white;
    padding: 50px 20px;
}

.stats-container{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.stats-container div{
    margin: 15px;
}


.news{
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-item{
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #2ac216;
}

/* FOOTER */
.footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.social a{
    color: #aaa;
    margin: 0 10px;
    text-decoration: none;
}

.copy{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #30b830;
}


@media (max-width: 768px){

    .nav-link{
        flex-wrap: wrap;
    }

    .sports-grid{
        grid-template-columns: 1fr;
    }

    .stats-container{
        flex-direction: column;
    }
}
